body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboti', sans-serif;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}